<li class='article mb-5'>
  <article class='markdown py-5 px-5'>
    <h3 class='title is-not-hyperlink mb-2' id='{{id}}'>{{blog_title}}</h3>
    <div class='is-flex is-align-items-center mb-2'>
      <i class='fas fa-map-marker-alt'></i>
      <p class='ml-2'>{{user_id}}</p>
    </div>
    <div class='is-flex is-align-items-center mb-2'>
      <i class='fas fa-calendar-day'></i>
      <p class='ml-2'>Created Date: {{format_time createdAt}}</p>
    </div>
    <p class='mb-2'>{{{format_markdown blog_body}}}</p>
  </article>
</li>