<li class='mb-5'>
  <article class='modal-content py-5 px-5'>
    <a href='/api/blogs/{{id}}'>
      <h3 class='title mb-2' id='{{id}}'>{{blog_title}}</h3></a>
    <p class='mb-2 work-sans'>{{blog_description}}</p>
    <section class='is-flex center-column'>
      <small class='is-sub-article'>By: {{user.name}}</small>
      <small class='is-sub-article'>{{format_time createdAt}}</small>
    </section>
  </article>
</li>
<hr />