<div class='message'>
  <div class='message-header'>
    <span class='strong'>
      <figure class='bd-tw-avatar'>
        <img
          class='lazyload'
          src='https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'
        />
      </figure><div class='ml-2 mr-5 bold'>{{user.name}} </div>
      <em>commented on
        {{format_time createdAt}}</em></span>
    <div class='dropdown post-options'>
      <div class='dropdown-trigger'>
        <button
          class='button'
          aria-haspopup='true'
          aria-controls='dropdown-menu-post'
        >
          <span class='icon is-small'>
            <i class='fas fa-ellipsis-h' aria-hidden='true'></i>
          </span>
        </button>
      </div>
      <div class='dropdown-menu' id='dropdown-menu-post' role='menu'>
        <div class='dropdown-content'>
          <a class='dropdown-item update-comment' id='{{id}}'>
            Update
          </a>
          <a class='dropdown-item delete-comment' id='{{id}}'>
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
  <textarea class='message-body textarea' data-id='{{id}}' disabled>
    {{comment_text}}
  </textarea>
  <button
    class='hidden button is-small is-primary save-comment'
    save-btn-id='{{id}}'
  >Update comment</button>
</div>